@charset "URF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
}

div {
    width: 240px;
}

img {
    width: 100%;
    background-size: cover;
}

::-webkit-scrollbar {
    height: 0;
    width: 7px;
    background-color: gray;
}

::-webkit-scrollbar-thumb {
    background-color: black;
}

a {
    display: block;
    background-color: darkred;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 100vw;
    height: 40px;
    text-align: center;
    text-decoration: none;
    color: white;
}

a:hover {
    background-color: red;
}